/* 303633-8be8cb-7ea2aa-888da7-9c7a97 */
.App {
  text-align: center;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.card {
  border-radius: 0.5rem;
}
.card-body {
  color: #cecdc8;
}
.card-title {
  background:#24272d;
  color: #cecdc8;
  padding: 10px;

}

.intro .jumbotron{
  background:#303633;
  border-radius: 0;
  background: url("./assets/background.jpeg");
}

#intro {
  padding: 100px;
  margin: 30px;
  background: white;
  opacity: 0.8;
}

