.App {
  text-align: center;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.card-body {
  /* border-radius: 0.5rem; */
  background:#94BFBE;
  color: #857C8D;

}

.intro .jumbotron{
  background:#94BFBE;
  color: white;
  border-radius: 0
}